services:
  db:
    container_name: person_service_db
    image: postgres:latest
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

    volumes:
      - db-data:/var/lib/postgresql
    ports:
      - "5431:5432"

volumes:
  db-data:
